/* id selector: # */
/* class selector: . */

* { font-family: clean,verdana, sans-serif; }

body {
/*   background: #000; */
/*   background: #070d0d; */
/*   background: #36454F; /* Charcoal */
  background: #2c3539; /* Gunmetal */
  color: #fff;
}

.hidden {
	display: none;
}

h1 {
    text-shadow: 2px 2px 5px grey;
	text-decoration: underline;
}

h3 {
    font-size: 1.3em;
    font-style: underline;
    font-variant: small-caps;
}

#box-data {
  border-radius: 25px;
  border: 2px solid #000;
  background: #D3D3D3; /* Gunmetal */
  color: #2c3539;
/*  padding: 20px; */
  width: 250px; 
/*  height: 150px;  */
}

#today {
    font-weight: bold;
    font-size: 1.3em;
}

#wt {
    font-weight: bold;
    font-size: 1.3em;
}

#goal {
    font-weight: bold;
    font-size: 1.3em;
}

#remaining {
    font-weight: bold;
    font-size: 1.3em;
}

#calories {
    font-size: 4em;
	text-shadow: 2px 2px 5px grey;
}

#footer {
    text-align: center;
    margin: 1em;
}
#footer a {
    text-align: center;
    text-decoration: none;
}

.controls {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  margin:5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.controls:active {
  background-color: #3e8e41;
/*   box-shadow: 0 5px #666; */
  transform: translateY(2px);
}

.org-left, .org-right {
    width: 30%;
	text-align: center;
}

#table th{
	font-size: 1.2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
/*  background-color: #f1f1f1; */
  background-color: whitesmoke;
  border: 1px solid #555;
}

li a {
  display: block;
  color: #2c3539;
  padding: 8px 16px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

li a:hover:not(.active) {
  background-color: #555;
  color: whitesmoke;
}

a.reglinks {
	display: inline-block;
	color: #2c3539;
	padding: 1em;
	margin: 1em;
	background-color: whitesmoke;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	position: sticky;
	position: -webkit-sticky;
  	bottom: 30px;
	right: 30px;
}

.reference {
    text-align: center;
}

.reference ul {
  list-style-type: none;
/*  margin: 0;
  padding: 0;*/
  width: 100%;
  background-color: #2c3539;
  border: none;
}

.reference li a {
/*  display: block; */
  color: #2c3539;
  padding: 8px 16px;
  text-decoration: none;
}

.reference li {
  text-align: center;
  border-bottom: none;
}

a {
    color: white;
}

.g-container {
    max-width: 800px;
    margin: auto;
}

/* -------------------------- */
/* -- For Fat Secret stuff -- */
/* -------------------------- */

/* Food items in search results */
.fatsecret_borderbottom a {
    color: #D3D3D3;
    font-size: 1.3em;
    font-weight: bold;
}

.fatsecret_foodget a {
    color: #2c3539;
    text-decoration: underline;
}

.fatsecret_container {
    max-width: 800px;
    margin: auto;
}

.fatsecret_container input.fatsecret_button {
    font-size: 130%;
    height: 1.7em;
    width: auto;
    font-weight: 500;
    margin: 5px;
    padding: 0 25px;
}
.fatsecret_button  {
    color: #2c3539;
    text-decoration: underline;
}

#fatsecret_servingselector {
    width: 20px;
    margin: 0;
}

/* Change this color to same as bar to hide it */
.fatsecret_heading {
    color: #E6E6E6; /* Color change to hide text */
}

/* Add my own text before default text (hidden above) */
.fatsecret_heading::before {
    color: #2c3539  ;
    content: 'Food Lookup:';
    margin: 0 20px;
}

.fatsecret_borderbottom {
    padding: 0.7em 0;
}

/* nutrition panel */
.fatsecret_nutritionpanel
{
    border: 2px solid #BCBCBC;
    background-color: #FFF;
}

/* nutrition panel table */
.fatsecret_nutrition_table
{
    border-collapse: collapse;
    width: 98%;
    margin: 0 auto;
}

/* search panel */

/* search textbox */
.fatsecret_foodget_search_input
{
	width: 100%;
    margin: auto;
	vertical-align: middle;
}

/* nutrition panel rows */
.fatsecret_nutritionpanel tr
{
	line-height:13px;
}

/* nutrition panel cells */
.fatsecret_nutritionpanel td
{
	color: #555;
}

/* item separator */
.fatsecret_border_top
{
	border-top: 1px solid #BCBCBC;
}

/* main separator */
.fatsecret_seperator
{
	background-color:#888;
	line-height:5px;
}


.fatsecret_nutritionpanel .fatsecret_first_seperator, /* first main separator */
.fatsecret_nutritionpanel .fatsecret_third_seperator /* third main separator */
{
	height: 5px;
}

/* second main separator */
.fatsecret_second_seperator
{
	height: 2px;
}

/* nutrition panel header (Nutrition Facts) */
.fatsecret_nutritionpanel_header
{
	font-size: 180%;
	font-weight: 700;
	line-height: 25px;
	font-family: Arial Black;
	letter-spacing: 1px;
}

.fatsecret_amount_per_serving, /* Amount per serving text */
.fatsecret_daily_values /* % daily values text */
{
	font-size: 80%;
}

.fatsecret_amount_per_serving,
.fatsecret_calories_label, /* calories label */
.fatsecret_daily_values,
.fatsecret_lvl_one_label, /* level one labels (Total Fat, Cholesterol, Sodium, etc) */
.fatsecret_perc_value /* percentage values */
{
	font-weight: 700;
}

/* Percent Daily Values disclaimer text */
.fatsecret_nutritionpanel .fatsecret_perc_daily_note
{
	font-size: 75%;
}

/* ---------- */
/* Hide Stuff */
/* ---------- */

.fatsecret_subheading.fatsecret_home_heading {
    display: none;
}

.fatsecret_home_summary {
    display: none;
}

.fatsecret_subheading {
    display: none;
}

.fatsecret_servingentry {
    display: none;
}
