/* id selector: # */
/* class selector: . */

* { font-family: clean,verdana, sans-serif; }

body {
/*   background: #000; */
/*   background: #070d0d; */
/*   background: #36454F; /* Charcoal */
  background: #2c3539; /* Gunmetal */
  color: #fff;
}

.hidden {
	display: none;
}

h1 {
    text-shadow: 2px 2px 5px grey;
	text-decoration: underline;
}

h3 {
    font-size: 1.3em;
    font-style: underline;
    font-variant: small-caps;
}

#box-data {
  border-radius: 25px;
  border: 2px solid #000;
  background: #D3D3D3; /* Gunmetal */
  color: #2c3539;
/*  padding: 20px; */
  width: 250px; 
/*  height: 150px;  */
}

#today {
    font-weight: bold;
    font-size: 1.3em;
}

#wt {
    font-weight: bold;
    font-size: 1.3em;
}

#goal {
    font-weight: bold;
    font-size: 1.3em;
}

#remaining {
    font-weight: bold;
    font-size: 1.3em;
}

#calories {
    font-size: 4em;
	text-shadow: 2px 2px 5px grey;
}

.controls {
  background-color: #4CAF50; /* Green */
  border: none;
  border-radius: 12px;
  color: white;
  padding: 15px 32px;
  margin:5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.controls:active {
  background-color: #3e8e41;
/*   box-shadow: 0 5px #666; */
  transform: translateY(2px);
}

.org-left, .org-right {
    width: 30%;
	text-align: center;
}

#table th{
	font-size: 1.2em;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  width: 300px;
/*  background-color: #f1f1f1; */
  background-color: whitesmoke;
  border: 1px solid #555;
}

li a {
  display: block;
  color: #2c3539;
  padding: 8px 16px;
  text-decoration: none;
}

li {
  text-align: center;
  border-bottom: 1px solid #555;
}

li:last-child {
  border-bottom: none;
}

li a:hover:not(.active) {
  background-color: #555;
  color: whitesmoke;
}

a.reglinks {
	display: inline-block;
	color: #2c3539;
	padding: 1em;
	margin: 1em;
	background-color: whitesmoke;
	padding: 14px 25px;
	text-align: center;
	text-decoration: none;
	position: sticky;
	position: -webkit-sticky;
  	bottom: 30px;
	right: 30px;
}

.reference {
	text-align: center;
}